<aside>
  <div class="api">
    <h3>API data</h3>
    <div class="control-buttons">
      <button class="btn" type="button" (click)="openApiPanel($event)">
        Open
      </button>
      <button class="btn" type="button" (click)="closeApiPanel($event)">
        Close
      </button>
      <button class="btn" type="button" (click)="focusApiPanel($event)">
        Focus
      </button>
    </div>

    <div class="ng-autocomplete">
      <ux-autocomplete
        #ngAutoCompleteApi
        [data]="items"
        [searchKeyword]="keyword"
        [placeHolder]="placeholder"
        (selected)="selectEvent($event)"
        (inputChanged)="onChangeSearch($event)"
        (inputFocused)="focusedEventApi($event)"
        (inputCleared)="clearEventApi()"
        (scrolledToEnd)="scrollToEndApi()"
        (opened)="openedEventApi()"
        (closed)="closedEventApi()"
        historyIdentifier="reposList"
        [historyHeading]="historyHeading"
        historyListMaxNumber="5"
        notFoundText="Not found"
        [isLoading]="isLoading"
        minQueryLength="3"
        debounceTime="700"
        [itemTemplate]="itemTemplateApi"
        [notFoundTemplate]="notFoundTemplate"
      >
      </ux-autocomplete>

      <ng-template #itemTemplateApi let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>
</aside>
<section class="articles">
  <h1>Artigos</h1>
  <ul>
    <li *ngFor="let article of $any((gitRepos$ | async))?.items">
      <h4>{{ article.name }}</h4>
    </li>
  </ul>
</section>
