$theme: (
  mobile: 767px,
  w1024: 1024px,
  w980: 980px,
  w650: 650px,
  pricingTiers: 1100px,
  // Sizes
  maxWidth: 1280px,
  navHeight: 80px,
  navHeightMobile: 80px,
  maxArticleWidth: 810px,
  xPadding: 80px,
  // Colors
  background: #111a20,
  glow10: #b0fbbc,
  glow20: #82f9a1,
  glowOpacity: rgba(130, 249, 161, 0.07),
  text10: #ecf8ff,
  text20: #c9e2f0,
  red: #e73e3e,
  blue00: #0b1115,
  blue05: #0e1417,
  blue10: #111a20,
  blue15: #162129,
  blue20: #1c2c35,
  blue30: #243b4a,
  blue35: #3b5466,
  blue40: #416883,
  blue50: #5e8ca7,
  blue60: #4fb8ff,
  rainbowRed: #f98282,
  rainbowOrange: #f9c982,
  rainbowYellow: #f7f982,
  rainbowGreen: var(glow20),
  rainbowBlue: #82f9e4,
  rainbowIndigo: #82b9f9,
  rainbowViolet: #8482f9,
  yawnch: #cca9f4,
  partyCorgi: #02a1e8,
  allTurtles: #d9534d,
  twitter: #1da1f2,
  github: #bbc6cc,
  dribbble: #ea4c89,
  // Type
  sansSerifFallback: "'-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Roboto', 'sans-serif'",
  fontFamily: 'Roboto Slab',
  serif,
  monospace: 'Fira Code',
  monospace,
  fontWeights-regular: 400,
  fontWeights-medium: 500,
  fontWeights-bold: 700,
  // Z-index
  z1: 1,
  z2: 2,
  z3: 3,
);
