:host {
  --ux-grid-gap: 3rem;
  --ux-grid-template-rows: 300px;
  --ux-grid-template-columns: 300px;

  ol.ux-photo-gallery {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--ux-grid-template-columns), 1fr)
    );
    grid-template-rows: repeat(6, var(--ux-grid-template-rows));
    grid-gap: var(--ux-grid-gap);
    grid-auto-flow: dense;
    list-style: none;

    > li:nth-child(4n) {
      grid-column: span 2;
      grid-row: span 2;
    }

    > li:nth-child(8n) {
      grid-column: span 3;
      grid-row: span 3;
    }

    > li > figure {
      height: 100%;
    }

    > li > figure > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
