:host {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
.drawer {
  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid;
}
