:host {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  // width: 100%;
  // max-width: 1280px;
  // padding: 0px 80px;
  // box-sizing: border-box;
}
