<div>
  <button *ngFor="let item of forms" type="button" (click)="setComponent(item)">
    {{ item.name }}
  </button>
</div>
<div>
  <ng-container *ngIf="current">
    <section
      [ngComponentOutlet]="current.component"
      [ngComponentOutletNdcDynamicInputs]="current.inputs"
      [ngComponentOutletNdcDynamicOutputs]="current.outputs"
    ></section>
  </ng-container>
</div>
<!-- <nx-feat-chat-client></nx-feat-chat-client> -->

<!--
<div>
  <div [ngComponentOutlet]="data.component" [ngComponentOutletNdcDynamicInputs]="data.inputs"></div>
</div>

<pre>{{ data.inputs.control.value | json }}</pre> -->

<!-- <router-outlet></router-outlet> -->
